<html>
<body>
<div class="review_main news">
      <div class="wrapper"> 
	  	  	  <!-- 12-22-2014 updates by gracecruz starts -->
<!--      <div class="newsletter" style="margin-top:14px;">
      <div class="letter">  -->
 
<style type="text/css"> .moonray-form-p2c22582f11 .moonray-form{max-width: 865px !important;width:100% !important;background-color:transparent !important;margin-bottom:2% !important;}.moonray-form-p2c22582f11 .moonray-form-element-wrapper{float:none !important; }.moonray-form .moonray-form-input-type-text { width: 33%!important;}.moonray-form .moonray-form-input-type-email {width: 33%!important;}.moonray-form .moonray-form-input-type-submit {width: 14%!important;}
@media screen and (max-width: 768px) {.moonray-form .moonray-form-input-type-text, .moonray-form .moonray-form-input-type-email, .moonray-form .moonray-form-input-type-submit{  width: 80%!important; }.moonray-form #mr-field-element-160123171517 img{width: 35%!important;height: auto !important; } .moonray-form-element #mr-field-element-160123171517 p{width: 95% !important;margin:0 auto; } .moonray-form-p2c22582f8 #mr-field-element-638972966931{position: relative;top: 8px;} .moonray-form-p2c22582f8 #mr-field-element-160123171517{ width:90% !important;} }
.moonray-form-input#mr-field-element-632334038149{background: none repeat scroll 0 0 #ffffff;border: 1px solid #ccc;border-radius: 3px;box-shadow: 0 0 1px #ccc inset;color: #000000;float: left;font-size: 17px;margin-right: 15px;padding: 10px 16px;max-width: 288px !important;width: 100% !important;position: relative;top: 10px;}.moonray-form .moonray-form-input-type-submit {width: 100%!important;max-width: 138px;}
.moonray-form-p2c22582f11 #mr-field-element-638972966931 {height: 42px;position: relative;top: 10px;background: none repeat scroll 0 0 #7bbf42;max-width: 137px !important;width: 100% !important; font-size: 16px;box-shadow: 0 19px 0 #5e9d29 !important;;border: none !important;}
</style>
  
 <div class="opt-in-raa" align="center">
<link rel="stylesheet" href="//app.ontraport.com/js/formeditor/moonrayform/paymentplandisplay/production.css" type="text/css" /><link rel="stylesheet" href="//forms.ontraport.com/formeditor/formeditor/css/form.default.css" type="text/css" /><link rel="stylesheet" href="//forms.ontraport.com/formeditor/formeditor/css/form.publish.css" type="text/css" /><link rel="stylesheet" href="//forms.ontraport.com/v2.4/include/minify/?g=moonrayCSS" type="text/css" /><link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" type="text/css" /><link rel="stylesheet" href="//forms.ontraport.com/v2.4/include/formEditor/gencss.php?uid=p2c22582f11" type="text/css" /><!--<script type="text/javascript" src="//forms.ontraport.com/v2.4/include/formEditor/genjs-v3.php?html=false&uid=p2c22582f11"></script>--><div class="moonray-form-p2c22582f11 ussr"><div class="moonray-form moonray-form-label-pos-stacked">
<form class="moonray-form-clearfix" action="https://forms.ontraport.com/v2.4/form_processor.php?" method="post" accept-charset="UTF-8">
<div class="moonray-form-element-wrapper moonray-form-element-wrapper-contracted moonray-form-element-wrapper-alignment-left moonray-form-element-html"><div id="mr-field-element-160123171517" class=" moonray-form-element-html"><div style="
max-width:374px;width:100%;"><span style="font-size: 29px;
margin-top: 9px;
color: #222222;
font-family: 'proxima_nova_cn_rgregular';"><span>Sign Up for our Newsletter</span></span></div>
</div></div>
<div class="moonray-form-element-wrapper moonray-form-element-wrapper-contracted moonray-form-element-wrapper-alignment-left moonray-form-input-type-email"><input name="email" type="email" class="moonray-form-input" id="mr-field-element-632334038149" required value="" placeholder="Enter you email address"/></div>
<div class="moonray-form-element-wrapper moonray-form-element-wrapper-contracted moonray-form-element-wrapper-alignment-right moonray-form-input-type-submit"><input type="submit" name="submit-button" value="SUBSCRIBE" class="moonray-form-input" id="mr-field-element-638972966931" src/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="afft_" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="aff_" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="sess_" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="ref_" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="own_" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="oprid" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="contact_id" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="utm_source" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="utm_medium" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="utm_term" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="utm_content" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="utm_campaign" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="referral_page" type="hidden" value=""/></div>
<div class="moonray-form-element-wrapper moonray-form-input-type-hidden"><input name="uid" type="hidden" value="p2c22582f11"/></div>

					</form>
				</div>
			</div>

</div>			
	
       </div>
      </div>

      
      

      
      
      </div>
      </div>
      
       </div>
      </div>

<!-- end of footer -->
<style>.copyright{ margin-top:0px !important;}</style> <!-- 12-30-2014 updates by gracecruz fixed alignment issues-->
<div class="footer"> <!-- shell -->
  <div class="wrapper">
    <div class="shell">
    <div class="social_icon"><!--<li><a href="{{ path('raa_web_contactUs') }}">Conatct Us </a></li>-->
    <ul>                                         
          <li><a href="#"><img src="{{ asset('themes/homepage/images/twiter_icon.png') }}" alt=""></a></li>
             <li><a href="#"><img src= "{{ asset('themes/homepage/images/in_icon.png') }}"alt=""></a></li>
                <li><a href="#"><img src="{{ asset('themes/homepage/images/fb_icon.png') }}" alt=""></a></li>
               </ul> 
        
     </div>
            <div class="links">
        <ul style="margin-left:27%">                                         
          <li><a href="{{ path('raa_web_homepage') }}">HOME</a></li>
          <li><a href="{{ path('raa_web_writeReview') }}">WRITE A REVIEW </a></li>
           <li><a href="{{ path('raa_web_searchAirlines') }}">FIND An AIRLINE </a></li>
           <!--<li><a href="{{ path('raa_web_registration') }}">ADD YOUR PROFILE </a></li>-->
          <li><a href="{{ path('raa_web_registration') }}">REGISTRATION </a></li>
        </ul>
              </div>
      <div class="powerd-by">
        <div class="browsw-logo">
          <h5>Copyright © 2014 Review An Airline. All rights reserved </h5>
         </div>
        <div class="copyright-info">
          <p class="copyright">
          <ul id="divBanner2">
         
          
          
          </ul></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- 12-22-2014 updates by gracecruz ends -->
</div>
</body>
</html>
