{% extends 'RARWebBundle::layout.html.twig' %}

{% block body %}
<title>{% block title %}Contact Us{% endblock %}</title>
<div class="about_us">
 <img src="{{ asset('themes/web/images/contact.jpg') }}" style="width:100%; height:148px; margin-top[:9px;" alt=""/></div>
</div>

<div class="titles oranges border">
      <h2>Contact Us</h2>
    </div>
<div class="contact_me">
 <div class="content-box >
      <div class="left-side-realator1">
        <div id="agent-to-review-agency" class="wid-left" style="width:125%;">
          <p><strong>E-51-First Floor, </strong> </p>
          <p><strong>Phase VIII, Industrial Area, </strong>  </p>
          <p><strong>SAS Nagar, Mohali, </strong> </p>
          <p><strong>Punjab-160059 </strong> </p>
          <p><strong>City:</strong> </p>
          <p><strong>+91-95016-63394,0172-4009730</strong></p>
        </div>
      </div>
</div>
<div class="contact_map">
<iframe class="map_us" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q= Canada,Surrey&aq=0&ie=UTF8&hq=&hnear=Canada,Surrey&t=m&ll=&z=12&iwloc=&output=embed"> 
        </iframe>
</div>
<!--<div class="join_us">
<h2 class="join_text">Join Us On</h2>
  <div class="social socialnet">
      <ul>
               <li><a href="#"><img alt="" src="{{ asset('themes/login/images/yahoo_icon.png') }}"   /></a> </li>
               <li><a href="#"><img alt="" src="{{ asset('themes/login/images/p_icon.png') }}"   /></a> </li>
                  <li><a href="#"><img alt="" src="{{ asset('themes/login/images/f_icon.png') }}"   /></a> </li>
                  <li><a href="#"><img alt="" src="{{ asset('themes/login/images/g_icon.png') }}"   /></a> </li>
          <li><a href="#"><img alt="" src="{{ asset('themes/login/images/you_icon.png') }}"   /></a> </li>
          
      </ul>
</div>-->
</div>


{% endblock%}
