{% extends 'YawAppBundle:Security:reg_form_1_box.html.twig' %}

{% block header %}Select an option{% endblock %}
{% block container %}
    {% set mark = '<div class="mark-circle">&#8226</div>' %}
    {% set table = [
        ['Appeal to Angels you know',            mark,         mark],
        ['Free online donations account',        mark,         mark],
        ['Single campaign limit',                max.loan_1,   max.loan_3],
        ['Set a fundraising deadline',           '',           mark],
        ['“ID verified” in your profile',        '',           mark],
        ['Visible to all site Angels',           '',           mark],
        ['Profile icon or Facebook photo',       '',           mark],
        ['Accept monthly recurring donations',   '',           mark]
        
    ] %}

    <table class="features">
        <thead>
		<tr>
			<td class="feature-name">Features</td>
			<td>Option 1</td>
			<td>Option 2</td>
		</tr>
	</thead>
        <tbody>
            {% for item in table %}
                <tr>
                    <td class="feature-name">{{ item.0 }}</td>
                    <td>{{ item.1 | raw }}</td>
                    <td>{{ item.2 | raw }}</td>
		</tr>
            {% endfor %}
        </tbody>
        <tfoot><tr>
            <td class="feature-name">One time fees</td>
            <td>{{ form_row(form.profile_type.0) }}</td>
            <td>{{ form_row(form.profile_type.2, { 'attr': {'checked': 'checked'} }) }}</td>
	</tr></tfoot>
    </table>
{% endblock %}
