{% extends 'YawAppBundle:Security:reg_form_2_box.html.twig' %}

{% block header %}Create your request{% endblock %}
{% block left_container %}
    <div class="input-container">
        {{ form_label(form.amount) }}
        {{ form_widget(form.amount) }}
        <div class="clearfix marge"></div>
        <div id="loan_slider"></div>
        <div class="clearfix marge"></div>
    </div>
    {% if option == 3 %}
        <div class="input-container f-right">
            {{ form_widget(form.frequency.1) }}
            {{ form_label(form.frequency.1) }}
            {{ form_widget(form.frequency.0) }}
            {{ form_label(form.frequency.0) }}
            {{ form_errors(form.frequency) }}
        </div>
    {% endif %}
    <div class="input-container">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
    </div>
{% endblock %}

{% block right_container %}
    {{ form_row(form.statement) }}

    {{ form_row(form.reason) }}<div class="input-container-help" ><a href="javascript:void(0)" alt="" title=""><img src="/bundles/yawapp/images/icons/help_icon.png"></a><span class="hovertext">Please select a reason for your need</span></div>
    {{ form_row(form.interests) }}<div class="input-container-help"><a href="javascript:void(0)" alt="" title=""><img src="/bundles/yawapp/images/icons/help_icon.png"></a><span class="hovertext2">Please select up to 5 of your interests so donors can search for likeminded people to donate to</span></div>
{% endblock %}