{% extends 'RARAdminBundle::layout.html.twig' %}
{% block body %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
		<script src="{{  asset('themes/web/js/menu_jquery.js') }}"></script>
 	<script src="{{  asset('themes/web/js/jquery-1.10.1.min.js') }}"></script>
 	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
		<script type="text/javascript">

		function showimagepreview(input) 
		{
			if (input.files && input.files[0]) 
			{
				var filerdr = new FileReader();
				filerdr.onload = function(e) 
				{
					$('#imgprvw').attr('src', e.target.result);
				}
				filerdr.readAsDataURL(input.files[0]);
			}
		}
	</script>	
	
	
	
<script>
function showLargeImage(src)
{
//alert(src);
$("#divLargeImage").css('display','block')
$("#imgLargeImage").prop('src',src)   
}

</script>
<section id="content">			
		<div class="g12">			
			<form method="POST" action="{{ path('RARAdminBundle_images',{ 'id': property.id }) }}" enctype="multipart/form-data">
				<fieldset>	
			<label> Property Images</label>
				</fieldset>
				<section>
				<label>Add New Image</label>
				<div  style="width:185px;"><input type="file" name="file" onchange="showimagepreview(this)"></div>
				<div><button class="submit" type="submit">Submit</button></div> 
				</section>
				<div class="main_admin"><img id="imgprvw" src="{{ asset('no_photo.jpg') }}"></div>
				
				<div id="divLargeImage" style="display:none;">
				<div><img id="imgLargeImage" src="" class="mainImage" style="height:100px; width:190px;"></div>
				</div>
				<section>
				<div class="property_imagess">

				{% for image in images%}
				        <div class="delete_outer">
				 <img src="{{ asset(['Property/', image.image_url]|join) }}" onclick="showLargeImage(this.src);" />
				 <a href="{{ path('RARAdminBundle_deletePropertyImages',{ 'id': image.id }) }}">Delete</a>
				 </div>
				 {% endfor %}
				
				</div>
		
				</section>	
			</form>
		</div>

























{% endblock %}
