{% extends 'YawAppBundle:Layouts:index_layout.html.twig' %}

{% block left_nav %}
    {% include 'YawAppBundle:User:db_sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <script src="https://static.wepay.com/min/js/wepay.v2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            WePay.OAuth2.button_init(document.getElementById('start_oauth2'), {
                "client_id":"{{ client_id }}",
                "scope":["manage_accounts","view_balance","collect_payments","view_user","send_money","preapprove_payments"],
                "user_name": "{{ user.firstName }} {{ user.lastName }}",
                "user_email": "{{ user.email }}",
                "redirect_uri": "{{ redirect_uri }}",
                "top":100, // control the positioning of the popup with the top and left params
                "left":100,
                //"state":"robot", // this is an optional parameter that lets you persist some state value through the flow
                "callback":function(data) {
                    if (data.wepay_message_type == "oauth2_complete"){
                        var spoiler = $('#create_wepay_account');
                        spoiler.find('.spoiler-head').click();
                        spoiler.addClass('disabled');
                    }
                    //console.log(data);
                }
            });
        });
    </script>
    <div id="user_dashboard_content" class="col-main-content">
        <h2 class="heading">To finalize:</h2>
        <div class="content-block">
            <div class="spoiler closed" id="create_wepay_account">
                <h3 class="heading spoiler-head">Create your WePay donations account</h3>
                <div class="spoiler-title">
                    <p>Fectam esciendium, sigilicae, non red non de detius plissi firis Intiaecum</p>
                    <p>pos bonsulic vis vo, untemus, cae in tris adin tiam ectam esciendium</p>
                </div>
                <div class="spoiler-body">
                    <a id="start_oauth2" class="wepay-logo-button">
			<img src="{{ 'wepay-logo.png' | imagine_filter('button_service_logo') }}" alt=""/>
			
                    </a>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}
