{% extends 'RARWebBundle::layout.html.twig' %}
{% block body %}
<script src="{{  asset('themes/web/js/menu_jquery.js') }}"></script>
<script src="{{  asset('themes/web/js/jquery-1.10.1.min.js') }}"></script>
<script>
	$(document).ready(function()
	{
		$("#linkHome").addClass('active');
	});
</script>
<script>
function searchRealtor()
{
if( document.frmSearch.search.value == "" )
   {
    document.getElementById('searchs').innerHTML='Please enter search keyword';
     document.getElementById('searchs').style.color = 'red';
      document.frmSearch.search.focus() ;
     return false;
    }
     


//alert("hello");
document.frmSearch.submit();
}

</script>


 <div class="map_container">
    <div class="cont">
      <div class="trans-buton">
        <div itemscope itemtype="http://schema.org/Product" class="orange"><a itemprop="url" href="#" class="orange active">Find a Realtor</a></div>

      </div>
     
            <div class="search_outer">
     <form action="{{ path('rar_web_realtors') }}" method="POST" name="frmSearch" >
        <input type="text" placeholder="Realtor Name" name="search" />
      
        <input type="text" placeholder="Address, City, Zip" name="address"  />
        <input type="button" class="button" value="Go"  onclick="javascript:searchRealtor();"/><br/><br/>
        <span id="searchs" style= float:left;"></span>
  </form>
      </div>
    </div>
  </div>
 
  <!-- content -->
  <div class="main"> <!-- search by state -->
    <section>
      <div itemscope itemtype="http://schema.org/Product" itemref="_url16" class="title orange">
        <h2 itemprop="name">Find Realtors In Your State</h2>
      </div>
      <div class="category">
        <ul>      
          {%for state in states%}
     				<li class="module"><a href="#">{{state.state_name}}, {{state.state_code}}</a></li>
                {%endfor%}     
          <li itemscope itemtype="http://schema.org/Product" class="last_child"><a href="#" class="underline"> <strong>MORE</strong></a></li>
        </ul>
    
      </div>
      <div class="cl"></div>
    </section>
    <!-- write review -->
    <section class="review_outer">
      <div class="title blue">
        <h2>Recent Reviews</h2>
      </div>
      <div class="review">
        <div class="cols"> </div>
        <div class="cols right_col">
          <div class=" people">
            <div class="name">
              <div class="image"> <img src="{{ asset('themes/web/images/client_15.jpg') }}" width="111" height="104" alt="Client"/></div>
              <div class="time">3 hours ago</div>
            </div>
            <div class="rating">
              <h6>Lynn Martin</h6>
              <p>wrote a review about <a href="#">ReviewARealtor.com</a></p>
              <div class="stars"><img src="{{ asset('themes/web/images/stars1.png') }}" width="122" height="25" alt="Rating"/></div>
              <p>Right first time, every time!</p>
            </div>
          </div>
        </div>
        <div class="cols left_col">
          <div class=" people">
            <div class="name">
              <div class="image"><img src="{{ asset('themes/web/images/client_16.jpg') }}"width="111" height="104" alt="Client"/></div>
              <div class="time">3 hours ago</div>
            </div>
            <div class="rating">
              <h6>Lynn Martin</h6>
              <p>wrote a review about <a href="#">ReviewARealtor.com</a></p>
              <div class="stars"><img src="{{ asset('themes/web/images/stars1.png') }}" width="122" height="25" alt="Rating"/></div>
              <p>Right first time, every time!</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="cols right_col">
          <div class=" people">
            <div class="name">
              <div class="image"> <img src="{{ asset('themes/web/images/client_17.jpg') }}" width="111" height="104" alt="Client"/></div>
              <div class="time">3 hours ago</div>
            </div>
            
            <div class="rating">
        
              <h6>Lynn Martin</h6>
              <p>wrote a review about <a href="#">ReviewARealtor.com</a></p>
              <div class="stars"> <img src="{{ asset('themes/web/images/stars1.png') }}" width="122" height="25" alt="Rating"/></div>
              <p>Right first time, every time!</p>
              
            </div>
            
          </div>
        </div>
        <div class="cols left_col">
          <div class=" people">
            <div class="name">
              <div class="image"> <img src="{{ asset('themes/web/images/client_18.jpg') }}" width="111" height="104" alt="Client"/></div>
              <div class="time">3 hours ago</div>
            </div>
            <div class="rating">
              <h6>Lynn Martin</h6>
              <p>wrote a review about <a href="#">ReviewARealtor.com</a></p>
              <div class="stars"> <img src="{{ asset('themes/web/images/stars1.png') }}" width="122" height="25" alt="Rating"/></div>
              <p>Right first time, every time!</p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="cols right_col">
          <div class=" people">
            <div class="name">
              <div class="image"> <img src="{{ asset('themes/web/images/client_19.jpg') }}" width="111" height="104" alt="Client"/></div>
              <div class="time">3 hours ago</div>
            </div>
            <div class="rating">
              <h6>Lynn Martin</h6>
              <p>wrote a review about <a href="#">ReviewARealtor.com</a></p>
              <div class="stars"> <img src="{{ asset('themes/web/images/stars1.png') }}" width="122" height="25" alt="Rating"/></div>
              <p>Right first time, every time!</p>
            </div>
          </div>
        </div>
        <div class="cols left_col">
          <div class=" people">
            <div class="name">
              <div class="image"> <img src="{{ asset('themes/web/images/client_15.jpg') }}" width="111" height="104" alt="Client"/></div>
              <div class="time">3 hours ago</div>
            </div>
            <div class="rating">
              <h6>Lynn Martin</h6>
              <p>wrote a review about <a href="#">ReviewARealtor.com</a></p>
              <div class="stars"> <img src="{{ asset('themes/web/images/stars1.png') }}" width="122" height="25" alt="Rating"/></div>
              <p>Right first time, every time!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
