{% extends 'form_div_layout.html.twig' %}
{# Widgets #}
{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ block('form_rows') }}
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_widget(form.date) }}
                {{ form_widget(form.time) }}
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}

{% block form_row %}
    {% spaceless %}
        <div class="input-container {% if attr['data-container-class'] is defined %}{{ attr['data-container-class'] }}{% endif %}">
            {% set _v = form.parent.vars %}
            {% if _v.lb_first is defined and _v.lb_first == true %}
                {{ form_label(form) }}
                {{ block('after_label') }}
                {% if _v.break_line is defined and _v.break_line == true %}
                    <div class="clearfix"></div>
                {% endif %}
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            {% else %}
                {{ form_widget(form) }}
                {% if _v.break_line is defined and _v.break_line == true %}
                    <div class="clearfix"></div>
                {% endif %}
                {{ form_label(form) }}
                {{ block('after_label') }}
                {{ form_errors(form) }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{# Labels #}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}</label>        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block after_label %}
    {% if name == 'terms' %}
        <a
                class="ajax terms-link"
                data-target="security/register/terms"
                data-action="__popup.show({width: 800, height: 500});"
                href="/">
            terms & conditions
        </a>
    {% endif %}
{% endblock %}

{% block hidden_widget %}
    {% spaceless %}
        {% set type = type|default('hidden') %}
        <div class="input-container {% if attr['data-container-class'] is defined %}{{ attr['data-container-class'] }}{% endif %}">
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock hidden_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <label class="error" for="{{ id }}">{{
                    error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters)
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters)
                }}</label>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block ckeditor_widget %}
    {% spaceless %}
        <div class="clearfix"></div>
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock ckeditor_widget %}

{% block customchoice_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_label(child) }}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock customchoice_widget %}

{% block choice_widget_options %}
    {% if attr['data-placeholder'] is defined %}
        <option></option>
    {% endif %}
    {{ parent() }}
{% endblock choice_widget_options %}