{% if app.security.getToken() is not null and is_granted('ROLE_USER') %}
    {% set is_user = true %}
{% else %}
    {% set is_user = false %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}Angel Wishes{% endblock %}</title>
        <meta name="Description" content="{% block description %}Angel Wishes{% endblock %}">
        <meta name="Keywords" content="{% block keywords %}AngelWishes{% endblock %}">

        {% block header_css %}
            {% stylesheets
                "bundles/yawapp/css/_lib/bootstrap.css"
                "bundles/yawapp/css/_lib/jquery-ui-1.10.0.custom.min.css"
                "bundles/yawapp/js/_lib/multiselect/select2.css"
                "bundles/yawapp/css/_lib/jquery.dataTables.css"
                "bundles/yawapp/css/Core/LibExtention.less"
                "bundles/yawapp/css/Yaw.less"
                "bundles/yawapp/css/Extra/Menu.less"
                "bundles/yawapp/css/Core/Form.less"
                "bundles/yawapp/css/Security/Register.less"
                "bundles/yawapp/css/FrontOffice/Home.less"

                filter='cssrewrite, lessphp'
                output='css/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block header_js %}
            {% javascripts
                "bundles/yawapp/js/config.js"
                "bundles/yawapp/js/_lib/jquery-1.9.1.min.js"
                "bundles/yawapp/js/_lib/jquery-ui-1.10.0.custom.min.js"
                "bundles/yawapp/js/Core/LibExtention.js"
                "bundles/yawapp/js/_lib/jquery.validate.min.js"
                "bundles/yawapp/js/_lib/multiselect/select2.min.js"
                "bundles/yawapp/js/_lib/ckeditor/ckeditor.js"
                "bundles/yawapp/js/_lib/accounting.min.js"
                "bundles/yawapp/js/_lib/jquery.dataTables.min.js"
                "bundles/yawapp/js/_lib/jquery.jeditable.mini.js"
                "bundles/yawapp/js/_lib/jquery.geocomplete.js"
                "bundles/yawapp/js/Yaw.js"
                "bundles/yawapp/js/Core/Ajax.js"
                "bundles/yawapp/js/Core/Popup.js"
                "bundles/yawapp/js/Core/Form.js"
                "bundles/yawapp/js/Core/Elements.js"
                "bundles/yawapp/js/Security/Register.js"
                output='js/lib.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% if is_user == true %}
                {% javascripts
                    "bundles/yawapp/js/User/Dashboard.js"
                    output='js/user.js' %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
            <!--[if lt IE 9]>
                {% javascripts
                    "bundles/yawapp/js/_lib/html5.js"
                    "bundles/yawapp/js/_lib/jquery.html5form-1.5-min.js"
                    output='js/ie_extra.js' %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            <![endif]-->
            <script type="text/javascript">
                accounting.settings = {
                    currency: {
                        symbol : "{{ '' | currencySymbol }}",
                        format: "%s%v",
                        decimal : ".",
                        thousand: ",",
                        precision : 2
                    },
                    number: {
                        precision : 0,
                        thousand: ",",
                        decimal : "."
                    }
                }
            </script>
            <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
        {% endblock %}
    </head>
    <body>
        <div id="app_container" class="{% block container_class %}home-container{% endblock %}">
            <header>
                {% block header %}
					{% include  "YawAppBundle:Layouts:search_header.html.twig" %}
                {% endblock %}
            </header>
            <div class="fake-header"></div>
            {% block main_banner %}{% endblock %}
            <div id="app_content">
                {% block left_nav %}{% endblock %}
                {% block body %}{% endblock %}
                {% block right_nav %}{% endblock %}
            </div>
            <footer>
                {% block footer %}
                   
					{% include  "YawAppBundle:Layouts:footer.html.twig" %}
               
                {% endblock %}
            </footer>
        </div>
        {% block inline_js %}{% endblock %}
    </body>
</html>
