<div class="logo {% if is_user == true %}f-rigth-logo{% endif %}">
	<a href="{{ path('public_home') }}">
							                           
		<img height="65px" style="margin-left:-450px;" src="{{ asset('bundles/yawapp/images/AngelWishes_Logo.png') }}">
                       		
	</a>
</div>

<div class="f-right" id="givecartmenu" style="margin-right:0px;float: right;margin-top: -40px;padding-right: 20px;">
	{% if app.session.get('givecart') %}
		People &nbsp;<img width="50"src="/bundles/yawapp/images/icons/people.png">&nbsp;
		<font style="color:#ffc85d">(<span id="cart_date"><font style="color:#ffc85d">{{ app.session.get('givecarttotalusers') }} - ${{ app.session.get('givecarttotalamount')}}</font></span>)</font>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a class="ajax terms-link" data-target="frontOffice/search/givecart" data-action="__popup.show({width: 650, height: 500});" href="/" style="marging-left:20px;color:#ffc85d">
			<input type="button" name="checkout" id="checkout" value="Checkout" style="margin-top:0px;margin-right:15px;">
		</a>
	{% endif %}
</div>

{% if is_user == true %}
	{% if confirmation is defined %}
		{{ menu_userHead(true) }}
	{% else %}
		{{ menu_userHead() }}
	{% endif %}
{% else %}
	{% if app.session.get('givecart') %}
	{% else %}
	<!--<div class="f-right" id="login-menu">
		Already have an account?  
		<a class="ajax" data-target="security/login/loginPopup" data-action="Yaw.SecurityRegister.showPopup" href="" data-match="">
			Login
		</a>
	</div>-->
	{% endif %}
			
{% endif %}

<style>
	.header
	{
		z-index:1111 !important;
	}
</style>
